CadClientes/.vs/CadClientes/v15/Server/sqlite3/storage.ide-wal
CadClientes/.vs/CadClientes/v15/Server/sqlite3/storage.ide-shm
CadClientes/.vs/CadClientes/v15/Server/sqlite3/storage.ide
CadClientes/.vs/CadClientes/v15/Server/sqlite3/db.lock
CadClientes/.vs/config/applicationhost.config
/CadClientes/CadClientes/Documentacao/CadClientesMER.~m2
/.vs/VSWorkspaceState.json
/CadClientes/.vs/CadClientes/config/applicationhost.config
/CadClientes/.vs/CadClientes/v16/Server/sqlite3/storage.ide
/CadClientes/.vs/CadClientes/v16/Server/sqlite3/db.lock
/CadClienteTeste/.vs/CadClienteTeste/v16/Server/sqlite3/storage.ide-wal
/CadClienteTeste/.vs/CadClienteTeste/v16/Server/sqlite3/storage.ide-shm
/CadClienteTeste/.vs/CadClienteTeste/v16/Server/sqlite3/storage.ide
/CadClienteTeste/.vs/CadClienteTeste/v16/Server/sqlite3/db.lock
/CadClienteTeste/.vs/CadClienteTeste/v16/Server/sqlite3
/CadClienteTeste/.vs/CadClienteTeste/config/applicationhost.config
