CadClientes/.vs/CadClientes/v15/Server/sqlite3/storage.ide-wal
CadClientes/.vs/CadClientes/v15/Server/sqlite3/storage.ide-shm
CadClientes/.vs/CadClientes/v15/Server/sqlite3/storage.ide
CadClientes/.vs/CadClientes/v15/Server/sqlite3/db.lock
CadClientes/.vs/config/applicationhost.config
