@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ednilson L. Cipolla<br />
    <abbr title="Phone">P:</abbr>
    (14) 99121-6789
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:ednilson.cipolla@gmail.com">ednilson.cipolla@gmail.com</a><br />
</address>